
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Qwitcher+Grypen:wght@400;700&family=Smooch&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kelly+Slab&family=Nixie+One&family=Sacramento&display=swap');


body{
  top:0;
  left:0;
  height: 100vh;
  width: 100vw;
  margin:0;
  overflow: hidden;
  background-color: rgb(231, 187, 137);
}

